
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>All images used on this site are copyright their original producers; please email 
  <span id="email1-footer">&nbsp;</SPAN>
  <noscript>
  <style type="text/css">
        #email2-footer:before {
            content: attr(data-user) "\0040" attr(data-website);
            unicode-bidi: bidi-override;
            direction: ltr;
        }
    </style>
	<span id="email2-footer" data-user="arts" data-website="addingham.net"></span>
  </noscript>
 
    <script type="text/javascript">
	//https://stackoverflow.com/questions/23002711/how-to-show-email-addresses-on-the-website-to-avoid-spams
	var name = 'arts';
	var domain = 'addingham.net';
    element = document.getElementById('email1-footer');
	console.log(element)
    element.innerHTML = '<a href="mailto:' + name + '@' + domain + '">' + name + '@' + domain + '</a>' 
  </script>  
  for details.  Image of High Mill by Turner &copy; <A href="https://www.flickr.com/photos/addingham_archive/4951592359">Don Barrett/Addingham Archive</A> <A href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</A>.
  Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a>.</p>
</footer>

</body>
</html>
