


<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/index.html#home">
	<h1 class="logo w3-opacity w3-bar-item">
	<span class="lower">arts</span><span class="at">&#x40;</span><span class="upper">ADDINGHAM</span>
	<BR />
	<span class="subtitle">Gathering the visual, musical, and written arts</span>
	</h1>
	</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/index.html#about" class="w3-bar-item w3-button">About</a>
	  <a href="/index.html#festival" class="w3-bar-item w3-button">Festival Events</a>
	  <a href="/index.html#events" class="w3-bar-item w3-button">Other Events</a>
      <a href="/index.html#projects" class="w3-bar-item w3-button">Projects</a>
	  <a href="/directory/index.html" class="w3-bar-item w3-button">Directory</a>
	  <a href="/local/index.html" class="w3-bar-item w3-button">Local Info</a>
      <a href="/index.html#contact" class="w3-bar-item w3-button">Get Involved</a>
    </div>
  </div>
</div>
